{{#username}}
Welcome, {{username}}!<br><br>
<form action="create-message" method="post">
    <input type="hidden" name="replyId" value="{{replyId}}" />
    <input type="text" name="text" placeholder="Write a message" size="25"/>
    <button type="submit">Submit</button>
</form>
{{/username}}

{{^username}}
<form action="login" method="post">
    <input type="text" placeholder="Username" name="username" size="25"/>
    <input tyep="password" placeholder="Password" name="password" size="25"/><br><br>
    <button type="submit">Login / Create Account</button>
</form>
{{/username}}